:lang(fa){
    direction: rtl;
}
.btn
{
    border-radius:  20px;
    height:         40px;
    margin:			8px 0px 0px 8px; 
    text-align:     center;
    min-width:      64px;
    padding:        0px 24px;
}
.btn-outlined
{
    border-color:   #79747E;
    background-color: #FFFBFE;
    color: #6750A4;
    background: none;
}
.btn-filledtonal
{
    border: none;
    background-color: #EADDFF;
    color: #1E192B;
}
.btn-filled
{
    border: none;
    background-color: #6750A4;
    color: #FFFFFF;
}
.btn-text
{
    color: #6750A4;
    background: none;
    border: none;
    padding: 0 12 px;
}